import pandas as pd
{% import 'transformation_macros.j2' as macros %}

table_file_path = "{{ table_file_path }}"
headers = {{ table_headers }}

try:
    data = pd.read_csv(table_file_path, sep=";", names=headers, usecols=headers, encoding="latin1", dtype=str,
                       skiprows=1)
    {% for column, column_transforms in transforms.items() -%}
    {% for col_transform in column_transforms -%}
        {{ macros[col_transform](column) }}
    {% endfor -%}
    {% endfor -%}
    data.to_csv(table_file_path, index=False, sep=";")
except:
    print("ERROR EN EL ENMASCARADO")
