import pandas as pd
{% import 'transformation_macros.j2' as macros %}

path_to_table = "{{ path_to_table }}"
headers = {
    "{{ table_name }}": [{{ table_headers }}],
}

try:
    if "{{ table_name }}" in path_to_table.lower():
        data = pd.read_csv(path_to_table, sep=";", names=headers["{{ table_name }}"], usecols=headers["{{ table_name }}"],
                           encoding="latin1", dtype=str, skiprows=1)
        {{ macros.drop_column("NOMBRE") }}
        {{ macros.encrypt_column("DOCUMENTO") }}
        data.to_csv(path_to_table, index=False, sep=";")
    else:
        print("no table defined with that name")

except:
    print("ERROR EN EL ENMASCARADO")
